.notes-display {
    .note-display {
        textarea {
            width: 100%;
            resize: none;
            line-height: 10px;
            border: none;
            background:rgba(255,255,255,0);
            border-bottom: 1px solid;
            outline: none;
        }
    }
}